[Match]
#Name=eth0  #originally had DHCP running on ehternet connection, since thats bridged, moved dhcp target to bridge
#Name=end0
Name=br0  #we want dhcp to run on bridge

[Network]
Address=192.168.200.1 #adjust to whatever your IP scheme is going to be. should match up with your mesh IP scheme. had issues with that.
DHCPServer=true
IPMasquerade=ipv4

[DHCPServer]
PoolOffset=100
PoolSize=20
EmitDNS=no
DNS=192.168.200.1

[DHCPServerStaticLease]
MACAddress = 00:4F:69:##:##:##
Address = 192.168.200.100
